@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

/* 
font-family: 'Nunito Sans', sans-serif;
font-family: 'Roboto', sans-serif; */

html {
    scroll-behavior: smooth;
}

#loading {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 99999999;
    background: #fff url('img/infinity.gif') no-repeat center;
    background-size: 12rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: left;
}

.navbar-light .navbar-brand {
    color: #fdcb6e;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: #fdcb6e;
}

.bg-light {
    background-color: #2c3e50 !important;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #3498db;
}

.navbar-light .navbar-nav .nav-link {
    color: #3498db;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #3498db;
}

.heading {
    overflow: hidden;
}

.carousel-inner {
    height: 80vh;
}

.w-100 {
    height: -webkit-fill-available;
}

.navbar-light .navbar-toggler {
    color: #9b59b6;
    border-color: #9b59b6;
}

.carousel-caption {
    top: 40%;
}

.carousel-caption1 {
    color: #000000;
}

.main-heading {
    font-size: 2.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}

.carousel-caption2 {
    color: #fff;
}

.sub-heading {
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    font-style: italic;
}

.bg-image {
    background: linear-gradient(rgba(85, 84, 84, 0.5), rgba(80, 79, 79, 0.5)), url("img/tech.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
}

.wp-block-cover-image {
    background-attachment: fixed;
    background-position: 50% 0;
}

.user-image-set {
    display: flex;
    justify-content: center;
}

.user-image {
    width: 150px;
    height: 150px;
}

*:before,
*:after {
    z-index: -1;
}

.contain {
    display: flex;
    justify-content: center;
}

.wrap {
    width: 100%;
}

.contain .wrap button {
    position: relative;
    display: block;
    overflow: hidden;
    /* font-family: 'Nunito Sans', sans-serif; */
    width: 45%;
    z-index: 12;
    height: 40px;
    margin: 1rem auto;
    text-transform: uppercase;
    border: 1px solid #212121;
    -webkit-appearance: none;
    color: #212121;
}

.contain .wrap button:hover {
    color: #fff;
}

.coolis {
    position: relative;
}

.coolis:before,
.coolis:after {
    position: absolute;
    top: 50%;
    content: "";
    width: 20px;
    height: 20px;
    background-color: #f82d2d;
    border-radius: 50%;
}

.coolis:before {
    left: -20px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.coolis:after {
    right: -20px;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
}

.coolis:hover:before {
    -webkit-animation: clsois-left 0.8s both;
    animation: clsois-left 0.8s both;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.coolis:hover:after {
    -webkit-animation: clsois-right 0.8s both;
    animation: clsois-right 0.8s both;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

@keyframes clsois-left {
    0% {
        left: -20px;
    }
    50% {
        left: 50%;
        width: 20px;
        height: 20px;
    }
    100% {
        left: 50%;
        width: 375px;
        height: 375px;
    }
}

@keyframes clsois-right {
    0% {
        right: -20px;
    }
    50% {
        right: 50%;
        width: 20px;
        height: 20px;
    }
    100% {
        right: 50%;
        width: 375px;
        height: 375px;
    }
}


/* .bg1 {
    background-color: #d9455f;
} */

.quote-icon {
    margin-top: -40px;
}

.cards {
    margin: 50px;
}

.card-headerr {
    padding: 20px 0;
    text-align: center;
}

.card-subheader {
    font-family: "Nunito Sans", sans-serif;
    text-align: center;
    padding: 0 12px;
}

.box {
    display: flex;
    width: 40%;
    height: 8px;
    margin: 5px 0px 25px 0px;
}

.containerr,
.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
}

.box-sm {
    height: 8px;
    margin: 0;
    flex-grow: 1;
    transition: all 0.8s ease-in-out;
    cursor: pointer;
}

.box-sm:hover {
    flex-grow: 12;
}

.red {
    background-color: #ff5852;
}

.orange {
    background-color: #ff9000;
}

.yellow {
    background-color: #ffd300;
}

.green {
    background-color: #3dcd49;
}

.blue {
    background-color: #0089d7;
}

.purple {
    background-color: #9e44c4;
}

.services {
    overflow: hidden;
}

.idea-quote {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.fs {
    font-size: 1.5rem;
    font-family: "Nunito Sans", sans-serif;
}

.idea-img {
    width: 100%;
    height: 100%;
}

.travel-img {
    width: 80%;
}

.travel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.google-location {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}

hr.style-two {
    border: 0;
    height: 2px;
    background-image: linear-gradient( to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    -webkit-box-shadow: 0px 10px 10px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 10px -2px rgba(0, 0, 0, 0.75);
}

.address {
    font-family: "Nunito Sans", sans-serif;
    width: 70%;
    letter-spacing: 1px;
}

.footer {
    margin-bottom: 4rem;
}

.subscribe {
    font-family: "Nunito Sans", sans-serif;
    width: 52%;
    margin-top: 30px;
    padding: 3px 0;
    border-bottom: 3px solid red;
}

.arrow {
    padding: 0 5px;
}

.phone-no,
.email {
    padding: 3px 0;
    border-bottom: 3px solid red;
}

.phone-no {
    letter-spacing: 2px;
    width: 32%;
}

.email {
    width: 50%;
    letter-spacing: 1px;
}

.icons {
    font-family: "Nunito Sans", sans-serif;
}

.social-icons ul {
    display: flex;
    padding: 0;
}

.social-icons ul li {
    list-style: none;
}

.social-icons ul li a {
    width: 40px;
    height: 40px;
    background-color: #fff;
    text-align: center;
    line-height: 35px;
    font-size: 20px;
    margin: 0 8px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 2px solid #000;
    z-index: 1;
}

.social-icons ul li a .icon {
    position: relative;
    color: #262626;
    transition: 0.5s;
    z-index: 3;
}

.social-icons ul li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
}

.social-icons ul li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: 0.5s;
    z-index: 2;
}

.social-icons ul li a:hover {
    border: 2px solid #dbff33;
}

ul li a:hover:before {
    top: 0;
}

.social-icons ul li:nth-child(1) a:before {
    background: #3b5999;
}

.social-icons ul li:nth-child(2) a:before {
    background: #55acee;
}

.social-icons ul li:nth-child(3) a:before {
    background: #0077b5;
}

.social-icons ul li:nth-child(4) a:before {
    background: #dd4b39;
}

.social-icons ul li:nth-child(5) a:before {
    background: #fe4164;
}

.social-icons {
    margin-top: 15px;
}

.navbar-svg {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-top: -5px;
}

.progress-wrap {
    position: fixed;
    right: 50px;
    bottom: 50px;
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: block;
    border-radius: 50px;
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.2);
    z-index: 10000;
    opacity: 0;
    visibility: hidden;
    transform: translateY(15px);
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.progress-wrap.active-progress {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.progress-wrap::after {
    position: absolute;
    font-family: "unicons";
    content: "\2191";
    text-align: center;
    line-height: 46px;
    font-size: 24px;
    color: grey;
    left: 0;
    top: 0;
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: block;
    z-index: 1;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.progress-wrap:hover::after {
    opacity: 0;
}

.progress-wrap::before {
    position: absolute;
    font-family: "unicons";
    content: "\2191";
    text-align: center;
    line-height: 46px;
    font-size: 24px;
    opacity: 0;
    background-image: linear-gradient(298deg, red, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    left: 0;
    top: 0;
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: block;
    z-index: 2;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.progress-wrap:hover::before {
    opacity: 1;
}

.progress-wrap svg path {
    fill: none;
}

.progress-wrap svg.progress-circle path {
    stroke: grey;
    stroke-width: 4;
    box-sizing: border-box;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.progress-wrap:hover svg.progress-circle path {
    stroke: red;
    stroke-width: 4;
    box-sizing: border-box;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}


/* mail */

@media only screen and (max-width: 790px) {
    .container {
        grid-template-columns: 50rem;
        grid-column-rows: repeat(6, min-content);
    }
}

@media only screen and (max-width: 540px) {
    .container {
        grid-template-columns: minmax(30rem, 40rem);
    }
}

.title {
    padding: 0.8rem 4rem;
    margin-bottom: 1.4rem;
    font-size: 2rem;
    color: #373737;
    border-radius: 0.4rem 0.4rem 0 0;
    background: #d8d8d8;
    font-weight: 700;
}

.form {
    width: 100%;
    margin: 1rem 0 0.8rem 0rem;
    position: relative;
}

@media only screen and (max-width: 790px) {
    .form {
        margin: 2rem 4rem 0.8rem 4rem;
    }
}

.form__1 {
    grid-row: 0.6666666667;
}

.form__2 {
    grid-row: 0.75;
}

.form__3 {
    grid-row: 0.8;
}

.form.active label {
    transform: translateY(-2.2rem);
    visibility: visible;
    font-size: 1rem;
    color: #7581ff;
}

.form__input {
    font-size: 1.2rem;
    padding: 1rem 0;
    border: none;
    width: 100%;
    background: transparent;
    border-bottom: 2px solid #494848;
}

.form__input:focus {
    outline: none;
    border-bottom: 2px solid #0bb405;
}

.form__input:focus:invalid {
    border-bottom: 2px solid #7581ff;
}

.form__label {
    font-size: 1.2rem;
    color: #474747;
    position: absolute;
    top: 25px;
    pointer-events: none;
    transition: all 0.3s;
}

.form--btn {
    display: flex;
    justify-content: center;
}

.form__btn {
    background: #7581ff;
    color: #fff;
    width: 40%;
    border: none;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 0.5rem 0;
    margin: 1rem 0 1rem 0rem;
    cursor: pointer;
    border-radius: 0.4rem;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.15);
    overflow: hidden;
    position: relative;
    transition: all 0.2s;
}

@media only screen and (max-width: 790px) {
    .form__btn {
        margin: 2.8rem 4rem 4rem 4rem;
    }
}

.form__btn:focus {
    outline: 0;
}

.form__btn:hover {
    background-color: #5162fe;
}

.form__btn>* {
    transition: all 0.4s;
    transition-delay: 1s;
    display: inline-block;
}

.form__btn--invisible {
    position: absolute;
    width: 100%;
    left: 0;
    top: -100%;
}

.form__btn--invisible.visible {
    top: 11px;
}

.form__btn--visible {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.form__btn--visible.invisible {
    transform: translateY(200%);
}


/* msg send */

.frame {
    position: absolute;
    width: 350px;
    height: 350px;
    margin-top: 0px;
    margin-left: 0px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: rgba(0, 0, 0, 0.7);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input[type="chackbox"]:checked~svg {
    border-color: none !important;
}

.circle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: orange;
}

.ring {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    border: 4px solid white;
    border-radius: 50%;
    background-color: none;
    opacity: 0;
}

svg {
    position: absolute;
    top: 0%;
    left: 0%;
}

svg path {
    fill: none;
    stroke: white;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: all 0s ease-in-out;
}

.button {
    /* position: absolute; */
    cursor: pointer;
    left: 25%;
    background: orange;
    color: #f5f4f4;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    text-transform: uppercase;
    line-height: 40px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    outline: none;
}

.button.reset {
    opacity: 0;
    transition: all 0s ease-in;
    z-index: 3;
}

.button.send {
    opacity: 1;
    transform: scale(1);
    transition: all 0s ease-in;
}

.button.send:hover {
    background-color: orange !important;
    cursor: pointer;
}

input[type="checkbox"] {
    opacity: 0;
    display: none;
    outline: none;
}

input[type="checkbox"]:checked~.circle {
    animation: disappear 2s ease-in-out forwards;
}

input[type="checkbox"]:checked~.ring {
    opacity: 1;
    transition: opacity 0.2s ease-in;
    animation: disappear 2s ease-in-out forwards 0.5s;
}

input[type="checkbox"]:checked~svg {
    border: none;
}

input[type="checkbox"]:checked~svg path {
    d: path( "M 220,160 L 100,190   L 175,215 L 220,160  L 139,203 L 145,230 L 160,212");
    transition: all 1s cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-delay: 1.5s;
    animation: fly-away 3s ease-in-out forwards 3s;
}

input[type="checkbox"]:checked~.button.send {
    background-color: orange;
    transition: background 0s;
    transition-delay: 3s;
    animation: button-out 1.5s forwards ease-in-out 3s;
}

input[type="checkbox"]:checked~.button.reset {
    opacity: 1;
    transition: all 2s ease-in 4s;
}

@keyframes button-out {
    0% {
        transform: translateX(0%);
        width: 200px;
        height: 40px;
    }
    10% {
        transform: translateX(0%);
        color: transparent;
    }
    30% {
        transform: translateX(100px);
        color: transparent;
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    100% {
        transform: translateX(100px);
        color: transparent;
        width: 0px;
        height: 0px;
    }
}

@keyframes disappear {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    25% {
        transform: translate(-50%, -50%) scale(1.1);
    }
    50% {
        transform: translate(-50%, -50%) scale(1);
    }
    75% {
        transform: translate(-50%, -50%) scale(0);
    }
    100% {
        transform: translate(-50%, -50%) scale(0);
    }
}

@keyframes fly-away {
    to {
        transform: translate(450px, -80px) scale(0.1);
    }
}

.animation {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    position: relative;
    overflow: hidden;
}

.paper-plane {
    height: 100px;
    position: absolute;
    top: 50%;
    left: 0%;
}